<!-- TOPBAR -->
<nav class="navbar navbar-dark bg-dark px-4"> 
  <div class="d-flex align-items-center">    
    <span class="text-light ms-3" *ngIf="nombreFuncionarioActual">¡Bienvenido, {{nombreFuncionarioActual}}!</span>
  </div>
  <form class="d-flex"> 
    <input class="form-control me-2" type="search" placeholder="Search for..." /> 
    <button class="btn btn-outline-light" type="submit">🔍</button> 
  </form> 
</nav> 

<!-- MAIN CONTAINER -->
<div class="d-flex">
  <!-- SIDEBAR -->
  <div class="bg-dark text-white sidebar">
    <ul class="nav flex-column p-3">
      <li class="nav-item mb-2"><strong>INICIO</strong></li>
      <li class="nav-item"><a class="nav-link text-white" routerLink="/dashboard">📊 Dashboard</a></li>
      <li class="nav-item mt-3"><strong>INTERFACES</strong></li>
      <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center" routerLink="/listar-funcionarios">
          <i class="bi bi-people-fill me-2 text-info"></i> Funcionarios
        </a>
        
        <a class="nav-link text-white d-flex align-items-center" routerLink="/listar-area">
          <i class="bi bi-diagram-3-fill me-2 text-warning"></i> Áreas
        </a>
        
        <a class="nav-link text-white d-flex align-items-center" routerLink="/listar-equipos">
          <i class="bi bi-hdd-network-fill me-2 text-success"></i> Equipos
        </a>
      </li>     
    </ul>
  </div>
    <!-- CONTENIDO DE LAS AREAS -->
    <div class="container mt-5 rounded p-4 shadow-sm">
      <button class="btn btn-primary mb-3" [routerLink]="['/crear-area']">
        <i class="bi bi-plus-circle"></i> Crear áreas
      </button>
    
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">📋 Listado de Áreas</h4>
        </div>
    
        <div class="card-body p-4">
          <div class="table-responsive">
            <table class="table table-bordered border-primary table-hover align-middle">
              <thead class="table-primary text-center">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Tipo</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let area of areas">
                  <td>{{ area.id }}</td>
                  <td>{{ area.nombre }}</td>
                  <td>{{ area.tipo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>